:root {
  /* Light Theme */

  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  /* Dark Theme */

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);
  /* --Light-Grayish-Blue-(hover): hsl(236, 33%, 92%); */
  --Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--Very-Light-Grayish-Blue);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}
.body-background-dark {
  background-color: var(--Very-Dark-Blue);
}
.box-dark {
  background-color: var(--Very-Dark-Desaturated-Blue);
  color: var(--Light-Grayish-Blue);
}
.box-light {
  background-color: white;
  color: black;
}

#background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  z-index: -1;
}
#background > img {
  width: 100%;
  height: 100%;
}
#wrapper {
  display: flex;
  margin: auto;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 10vh;
  min-width: 500px;
}
#container > div {
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 30px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}
#input-bar {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
}
#input-bar > [type="submit"] {
  background: none;
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
}
#new-item {
  margin-left: 5px;
  border: none;
  outline: none;
  background: none;
  font-size: 20px;
}
#functions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
}
#list-container {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#status > li {
  display: inline;
  padding: 0px 5px;
}

#status > li:hover {
  cursor: pointer;
}
.clear-all {
  cursor: pointer;
}

#list-items > li {
  display: flex;
  border-bottom: 1px solid;
  padding: 10px;
  font-size: 25px;
  align-items: center;
}
#list-items > li > label {
  /* margin-left: 10px; */
  margin-right: auto;
  width: 100%;
}

input[type="checkbox"]:checked ~ label {
  text-decoration: line-through;
}

.custom-checkbox {
  opacity: 0;
  z-index: 3;
}

.tick-mark {
  position: relative;
  top: 2px;
  left: -20px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid;
}
input[type="checkbox"]:checked ~ .tick-mark {
  display: block;
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
.tick-mark > img {
  position: relative;
  left: 5px;
  top: 7px;
  display: none;
}
input[type="checkbox"]:checked ~ .tick-mark > img {
  display: block;
}
.custom-checkbox:hover ~ .tick-mark {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}
